# Load data

In [1]:
import pandas as pd

df = pd.read_csv('data.csv')
df = df[:100]
df.head()

,id,sentence,date,birthday
0,100022_0,Болеет СД 2 типа в течении 5 лет.,2010-12-14 18:33:23,1957-01-01
1,100085_0,"Считает себя больной с 1993 года, когда перене...",2010-12-14 21:06:48,1950-11-05
2,100085_4,В мае 2009 года в СибГМУ проводилась РЧ-аблаци...,2010-12-14 21:06:48,1950-11-05
3,100085_5,"Ухудшение в конце 2009, начале 2010 года, когд...",2010-12-14 21:06:48,1950-11-05
4,100085_7,В апреле 2010 года проходила лечение в отд НРС...,2010-12-14 21:06:48,1950-11-05

# Parse single sentence

In [2]:
from TimeExpressions import TimeProcessor

processor = TimeProcessor.TimeProcessor()

WARNING:tensorflow:From /home/renoip2/Jupyter/Jupyter/NCKR/time_expressions/TimeExpressions/TimeProcessor.py:17: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

[nltk_data] Downloading package punkt to /home/renoip2/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/renoip2/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package perluniprops to
[nltk_data]     /home/renoip2/nltk_data...
[nltk_data]   Package perluniprops is already up-to-date!
[nltk_data] Downloading package nonbreaking_prefixes to
[nltk_data]     /home/renoip2/nltk_data...
[nltk_data]   Package nonbreaking_prefixes is already up-to-date!
Initialization complete!

In [3]:
doc = processor.process("Болеет СД 2 типа в течении 5 лет .", '2010-05-17 00:00:00', '1944-04-19')
print([('ВК: '+ent.text, 'Метка: '+str(ent._.timestamp), 'Нормальная форма: '+str(ent._.normal_form), 'Событие: '+ent._.event) for ent in doc[0].ents])

[('ВК: в течении 5 лет', 'Метка: 2', 'Нормальная форма: [datetime.datetime(2005, 5, 17, 0, 0), datetime.datetime(2010, 5, 17, 0, 0)]', 'Событие: Болеет СД 2 типа')]

# Parse set of sentences and convert result to pandas

In [4]:
result = processor.process(df.sentence.values, df.date.values, df.birthday.values, to_dataframe=True)
result.head()

,sentence,date,birthdate,time_expr,event,norm,uncertain,stamp,rule
0,Болеет СД 2 типа в течении 5 лет .,2010-12-14 18:33:00,1957-01-01 00:00:00,в течении 5 лет,Болеет СД 2 типа,2005-12-14 18:33:00 – 2010-12-14 18:33:00,"[2004-12-14 18:33:00, 2005-12-14 18:33:00, 201...",[2],r_dur_int_unit
1,"Считает себя больной с 1993 года , когда перен...",2010-12-14 21:06:00,1950-11-05 00:00:00,с 1993 года,перенесла гинекологическую операцию,1993-07-01 00:00:00 – 2010-12-14 21:06:00,"[1992-07-01 00:00:00, 1993-07-01 00:00:00, 201...",[2],r_from_year4d_year
2,В мае 2009 года в СибГМУ проводилась РЧ - абла...,2010-12-14 21:06:00,1950-11-05 00:00:00,В мае 2009 года,проводилась РЧ - аблация по поводу ЖЭ,2009-05-15 00:00:00,"[2009-04-15 00:00:00, 2009-05-15 00:00:00, 200...",[1],r_in_month_yeard4d_year
3,"Ухудшение в конце 2009 , начале 2010 года , ко...",2010-12-14 21:06:00,1950-11-05 00:00:00,"в конце 2009 , начале 2010",Ухудшение,2010-02-15 00:00:00,"[2010-01-01 00:00:00, 2010-02-15 00:00:00, 201...",[1],r_in_part_year4d_part_year4d
4,В апреле 2010 года проходила лечение в отд НРС...,2010-12-14 21:06:00,1950-11-05 00:00:00,"В апреле 2010 года, за сутки","проходила лечение в отд НРС, холтере 1 экстрас...","2010-04-15 00:00:00, 2010-12-13 21:06:00 – 201...","[2010-03-16 00:00:00, 2010-04-15 00:00:00, 201...","[1, 2]","r_in_month_yeard4d_year, r_za_unit"